* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #ffae42;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.logo-container img {
  width: 10vw;
}

.app-name {
  font-family: fantasy;
  font-size: 60px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.nav-items {
  padding: 0px 200px;
}

.nav-items ul {
  list-style: none;
  display: flex;
  gap: 5vw;
  font-weight: bold;
}

.nav-items ul li:hover{
  cursor: pointer;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.body-section {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.input-bar{
    width: 30vw;
    height: 5vh;
    border-radius: 30px;
    border: 0;
    padding: 0 20px;
}

.search-btn{
    height: 5vh;
    width: 6vw;
    border-radius: 300px;
    border: 0px;
    padding: 0px 20x;
    background-color: black;
    color: white;
    font-weight: bold;
}

.search-btn:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.res-card-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
}

.res-card {
  width: 15vw;
  height: 40vh;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid #d78b28cd;
}

.res-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.res-img{
  width: 15vw;
}

.resName{
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.res-content{
  margin-top: 20px;
}