* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #ffae42;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.logo-container img {
  width: 10vw;
}

.app-name {
  font-family: fantasy;
  font-size: 60px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.nav-items {
  padding: 0px 190px;
}

.nav-items ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  font-weight: bold;
}

.nav-items ul li:hover{
  cursor: pointer;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.login-btn{
  font-weight: bold;
  border: 3px solid #ffae42;
  background-color: #ffae42;
  width: 5vw;
  height: 5vh;
  border-radius: 100px;
}

.login-btn:hover{
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.body-section {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-bar{
    width: 30vw;
    height: 5vh;
    border-radius: 30px;
    border: 0;
    padding: 0 20px;
}

.btn{
  height: 5vh;
  padding: 10px 20px;
  border-radius: 300px;
  border: 0px;
  background-color: black;
  color: white;
  font-weight: bold;
}

.btn:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.filter{
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.res-card-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 3vw;
  padding-left: 28px;
}


.res-card {
  width: 15vw;
  height: 40vh;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid #d78b28cd;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.res-card img {
  height: 150px;
  object-fit: cover; /* or 'contain' if you want to show the whole image */
  margin: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.res-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.resName{
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.res-content{
  font-size: 12px;
  color: rgb(106, 106, 106);
}

.shimmer-cont{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 3vw;
  padding-left: 28px;
  padding-top: 10vh;
}

.shimmer-card{
  width: 15vw;
  height: 40vh;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid rgba(128, 128, 128, 0.425);
  background-color: rgba(128, 128, 128, 0.429);
  border-radius: 10px;
}

/*Individual Restaurant Pages */

.res-name-designer{
  font-family: fantasy;
  letter-spacing: 3px;
  font-weight: 500;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.menu-designer{
  font-family: fantasy;
  font-weight: lighter;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.res{
  display: flex;
  flex-direction: column;
  padding: 20px 80px;
  gap: 50px;
}

/*
.resHead{
  background-color: white;
  padding: 20px 60px;
  border-radius: 30px;
  box-shadow: inset;
}
  */

.resMenu{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.itemGrid ul{
  display: flex;
  justify-content: space-between;
}

.prices{
  list-style: none;
}

/*About Us Page*/

.aboutUs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contributor-data{
  border: 3px solid white;
  padding: 40px;
  margin: 20px 40px;
  background-color: white;
  font-size: 14px;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}